*.o
*.ko
*.o.cmd
*.ko.cmd
*.ko.unsigned.cmd
API/dt100test
acq2sh
acq32_debug
acq32cmd
.tmp*
Module.symvers
*-drv.ko*
*-drv.mod.c
modules.order
project/BASE/DTACQ/SRC/dt100/Linux/bin
dt100test
acq2sh
acq32_debug
acqcmd
irq
reset-driver
